.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login {
    width: 25%;
    height: 400px;
    background-color: rgba($color: bisque, $alpha: 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 50px;
      font-weight: 900;
      color: #f23030;
      margin-bottom: 10px;
    }
    .text {
      font-size: 18px;
      color: #999999;
      margin-bottom: 20px;
    }
    .input {
      width: 80%;
      margin: 10px 0;
    }
    .btn {
      width: 80%;
      margin-top: 20px;
    }
  }
}